@use 'variables' as *;

:host {
  display: block;
  min-height: 100dvh;
}

.site-shell {
  display: grid;
  grid-template-columns: $sidebar 1fr;
  min-height: 100vh;

  @media (width <= 1100px) {
    grid-template-columns: 220px 1fr;
  }

  @media (width <= 820px) {
    grid-template-columns: 1fr;
  }

  @media (width <= 600px) {
    min-height: 100vh;
  }

}
